<table>
  <tr *ngFor="let key of keys">
    <td [attr.colspan]="getColSpanCount(jsonObject[key])">
      <strong>{{key}}</strong>
      <div *ngIf="isObject(jsonObject[key])">
        <app-object-component [jsonObject]="jsonObject[key]"></app-object-component>
      </div>
      <div *ngIf="isArray(jsonObject[key])">
          <app-array [jsonArray]="jsonObject[key]"></app-array>
      </div>
    </td>
    
    <td>
      <div *ngIf="isString(jsonObject[key])">
        {{jsonObject[key]}}
      </div>
    </td>
  </tr>
</table>